## Text Mining and Search

### IMDB Reviews

In [1]:
# imports

import io
import pandas as pd
from tqdm import tqdm
import os

Train

In [4]:
train_dataset = pd.DataFrame(columns=['text','sentiment'])

found = 0
for file in tqdm(os.listdir('../data/raw/train/neg/')):
  with io.open('../data/raw/train/neg/'+file, mode="r", encoding="utf-8") as f:
    text = f.read()
    train_dataset.loc[len(train_dataset)] = [text, 'NEG']
for file in tqdm(os.listdir('../data/raw/train/pos/')):
  with io.open('../data/raw/train/pos/'+file, mode="r", encoding="utf-8") as f:
    text = f.read()
    train_dataset.loc[len(train_dataset)] = [text, 'POS']

100%|██████████| 12500/12500 [01:28<00:00, 141.12it/s]
100%|██████████| 12500/12500 [01:29<00:00, 140.44it/s]

In [7]:
train_dataset.to_csv('../data/train_dataset.csv')

Test

In [8]:
test_dataset = pd.DataFrame(columns=['text', 'sentiment'])

found = 0
for file in tqdm(os.listdir('../data/raw/test/neg/')):
  with io.open('../data/raw/test/neg/'+file, mode="r", encoding="utf-8") as f:
    text = f.read()
    test_dataset.loc[len(test_dataset)] = [text, 'NEG']
for file in tqdm(os.listdir('../data/raw/test/pos/')):
  with io.open('../data/raw/test/pos/'+file, mode="r", encoding="utf-8") as f:
    text = f.read()
    test_dataset.loc[len(test_dataset)] = [text, 'POS']

100%|██████████| 12500/12500 [00:15<00:00, 824.89it/s]
100%|██████████| 12500/12500 [00:21<00:00, 571.59it/s]

In [9]:
test_dataset.to_csv('../data/test_dataset.csv')

Read data

In [10]:
train = pd.read_csv('../data/train_dataset.csv')
train.head()

   Unnamed: 0                                               text sentiment
0           0  Story of a man who has unnatural feelings for ...       NEG
1           1  Airport '77 starts as a brand new luxury 747 p...       NEG
2           2  This film lacked something I couldn't put my f...       NEG
3           3  Sorry everyone,,, I know this is supposed to b...       NEG
4           4  When I was little my parents took me along to ...       NEG

In [11]:
test = pd.read_csv('../data/test_dataset.csv')
test.head()

   Unnamed: 0                                               text sentiment
0           0  Once again Mr. Costner has dragged out a movie...       NEG
1           1  This is an example of why the majority of acti...       NEG
2           2  First of all I hate those moronic rappers, who...       NEG
3           3  Not even the Beatles could write songs everyon...       NEG
4           4  Brass pictures (movies is not a fitting word f...       NEG